/*
 * SMACSS - SCSS
 * Inspired by SMACSS http://smacss.com
 */

/* Compass */
@import "compass/css3/images";

/* Fonts */
@impot url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "modules/font-awesome-compass";
@import "modules/font-awesome";

/* Tools */
@import "tools/functions";
@import "tools/site-settings";
@import "tools/mixins";
@import "tools/helpers";

/* Base */
@import "base/normalize";
@import "base/base";
@import "base/form";

/* Layout */
@import "layout/header";
@import "layout/nav";
@import "layout/main";
@import "layout/footer";
@import "layout/container";

/* Modules */
@import "modules/btn";

#new_stage p{
	width: 33.33%;
	float: left;
	height: 100px;
	display: block;
	padding:10px;
}