// ----------------------
// == Base
// ----------------------

*, *:before, *:after{
    @include box-sizing();
}

html, body{
    height: 100%;
}

body {
    font-family: $font1;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    height: 100%; 
    margin: 0px; 
    padding: 0px;
    overflow:hidden;
}

a {
    color: $color-link;
    text-decoration: none;
}

i{
    font-style:normal;
}

ul{
    @include ul-list-inline();
}

h4, h5{
    margin-top:0;
}

::-moz-selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}

.noCopy{
    @include selection(inherit, none);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.bold{
    font-weight:600;
}

.inner{
    padding:20px;
}